.cart-offer {
  padding: 51px 0px;
}

.cart-offer h1 {
  text-align: center;
}

.cart-offer a {
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 123.07692%;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cart-offer a:hover {
  color: #80233A;
}

.cart-content {
  padding: 50px 0px 120px 0;
}

.cart-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-cart-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0px 20px 0px 0px;
}

.products-cart-content__item {
  padding: 0px 0px 40px 0;
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #D8D8D8;
}

.products-cart-content__item:first-child {
  margin: 0px 0px 0px 0px;
}

.products-cart-content__img {
  margin: 0px 40px 0px 0px;
  width: 136px;
  height: 136px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 136px;
          flex: 0 0 136px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products-cart-content__img:hover {
  opacity: 0.8;
}

.products-cart-content__img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-cart-content__info {
  margin: 0px 90px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-cart-content__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 144.44444%;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products-cart-content__title:hover {
  color: #80233A;
}

.products-cart-content__size {
  margin: 14px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.75%;
  color: #707070;
}

.products-cart-content__cost {
  margin: 2px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.75%;
  color: #80233A;
}

.products-cart-content__select {
  display: none;
}

.products-cart-content__choose {
  margin: 0px 50px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 14px;
  background: #EFEFEF;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-cart-content__minus {
  cursor: pointer;
}

.products-cart-content__number {
  padding: 0px 20px;
}

.products-cart-content__plus {
  cursor: pointer;
}

.products-cart-content__close {
  cursor: pointer;
}

.totals-cart-content__title {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  text-transform: uppercase;
}

.totals-cart-content__info {
  margin: 44px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totals-cart-content__info-subtotal {
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  margin: 0px 20px 0px 0px;
}

.totals-cart-content__info-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56%;
          flex: 0 0 56%;
}

.totals-cart-content__info-cost {
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  color: #828282;
}

.totals-cart-content__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  color: #828282;
}

.totals-cart-content__info-text a {
  display: inline-block;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 168%;
  color: #828282;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.totals-cart-content__info-text a:hover {
  color: #80233A;
}

.totals-cart-content__tabs {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.totals-cart-content__tab {
  margin: 0px 60px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.totals-cart-content__tab:last-child {
  margin: 0px 0px 0px 0px;
}

.totals-cart-content__tab._active .totals-cart-content__tab-icon {
  border: 1px solid #80233A;
}

.totals-cart-content__tab._active .totals-cart-content__tab-icon svg path {
  fill: #80233A;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.totals-cart-content__tab._active .totals-cart-content__tab-text {
  color: #80233A;
}

.totals-cart-content__tab-icon {
  width: 65.64px;
  height: 65.64px;
  border: 1px solid #CCCCCC;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.totals-cart-content__tab-icon svg path {
  fill: #707070;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.totals-cart-content__tab-text {
  margin: 17px 0px 0px 0px;
  font-weight: 600;
  font-size: 13px;
  line-height: 123.07692%;
  color: #707070;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

.totals-cart-content__contents {
  margin: 57px 0px 0px 0px;
  padding: 0px 0px 52px 0;
  border-bottom: 1px solid #D8D8D8;
}

.totals-cart-content__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 121.42857%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  max-width: 440px;
}

.totals-cart-content__content._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.totals-cart-content__content input {
  display: block;
  width: 15%;
  border: 1px solid rgba(216, 216, 216, 0.5);
  cursor: pointer;
  border: none;
  outline: none;
}

.totals-cart-content__content input::-webkit-calendar-picker-indicator {
  width: 100%;
  cursor: pointer;
  padding: 10px 24px;
  top: 0;
  right: 0px;
  width: 27px;
  height: 27px;
  background: #D9D9D9 url("../img/icons/calendar.svg") center no-repeat;
  border: none;
  outline: none;
}

.totals-cart-content__content input::-webkit-datetime-edit-text {
  display: none;
}

.totals-cart-content__content input::-webkit-datetime-edit-month-field {
  display: none;
}

.totals-cart-content__content input::-webkit-datetime-edit-day-field {
  display: none;
}

.totals-cart-content__content input::-webkit-datetime-edit-year-field {
  display: none;
}

.totals-cart-content__content input:focus-visible {
  border: none;
  outline: none;
}

.totals-cart-content__content span {
  display: block;
  width: 83%;
  border: 1px solid rgba(216, 216, 216, 0.5);
  padding: 14px 24px;
  font-weight: 400;
  font-size: 15px;
}

.totals-cart-content__content span._error {
  border: 1px solid red;
}

.totals-cart-content__total {
  margin: 38px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.totals-cart-content__total-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  margin: 0px 20px 0px 0px;
}

.totals-cart-content__total-prise {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
}

.totals-cart-content__btn {
  margin: 41px 0px 0px 0px;
}

.totals-cart-content__btn a {
  width: 100%;
}

.totals-cart-content__btn a._disable {
  pointer-events: none;
  background: #6c6c6c;
}

.totals-cart-content__btn span {
  text-align: center;
  display: block;
  margin: 20px 0px 0px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 121.42857%;
}

.checkout-offer {
  padding: 46px 0px;
}

.checkout-offer h1 {
  text-align: center;
}

.checkout-offer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #828282;
  text-align: center;
  margin: 21px auto 0px auto;
}

.checkout-offer a {
  color: inherit;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkout-offer a:hover {
  color: #80233A;
}

.checkout-offer__login {
  display: none;
  margin: 10px 0px 0px 0px;
  font-size: 12px;
  line-height: 150%;
  color: #707070;
}

.checkout-offer__login a {
  color: #80233A;
}

.checkout-content {
  padding: 60px 0px;
}

.checkout-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.customer-checkout-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.customer-checkout-content__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-checkout-content__tab {
  margin: 0px 44px 0px 0px;
  color: #707070;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  padding: 0px 0px 13px 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.customer-checkout-content__tab:last-child {
  margin: 0px 0px 0px 0px;
}

.customer-checkout-content__tab:hover {
  border-bottom: 1px solid #80233A;
  color: #80233A;
}

.customer-checkout-content__tab._active {
  border-bottom: 1px solid #80233A;
  color: #80233A;
}

.customer-checkout-content__contents {
  margin: 43px 0px 0px 0px;
}

.customer-checkout-content__content {
  display: none;
}

.customer-checkout-content__content:nth-child(2) {
  margin: 25px 0px 0px 0px;
}

.customer-checkout-content__content:nth-child(2) button {
  margin: 40px 0px 0px 0px;
  width: 100%;
  background: #80233A;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 13px 33px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customer-checkout-content__content:nth-child(2) button:hover {
  background: #a22141;
}

.customer-checkout-content__content:nth-child(2) p {
  margin: 22px 0px 0px 0px;
  font-size: 14px;
  text-align: center;
}

.customer-checkout-content__content._active {
  display: block;
}

.customer-checkout-content__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-checkout-content__step {
  margin: 0px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-checkout-content__step:last-child {
  margin: 0px 0px 0px 0px;
}

.customer-checkout-content__step._active .customer-checkout-content__step-number {
  background: #72408A;
  color: #fff;
}

.customer-checkout-content__step-number {
  margin: 0px 9px 0px 0px;
  font-weight: 400;
  font-size: 13px;
  color: #72408A;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #72408A;
}

.customer-checkout-content__step-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 208%;
  text-transform: uppercase;
}

.customer-checkout-content__form {
  margin: 51px 0px 0px 0px;
}

.customer-checkout-content__form label {
  margin: 0px 0px 17px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer-checkout-content__form label._error input {
  border-color: red;
}

.customer-checkout-content__form label p {
  padding: 0px 0px 0 6px;
  color: #828282;
}

.customer-checkout-content__form label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.customer-checkout-content__form label input {
  margin: 6px 0px 0px 0px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7E7373;
  padding: 10px 21px;
  font-weight: 400;
  font-size: 14px;
}

.customer-checkout-content__form textarea {
  margin: 6px 0px 0px 0px;
  height: 148px;
  padding: 20px 25px;
  background: #FFFFFF;
  border: 1px solid #7E7373;
  font-weight: 400;
  font-size: 14px;
}

.customer-checkout-content__form select {
  margin: 6px 0px 0px 0px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7E7373;
  padding: 10px 21px;
  font-weight: 400;
  font-size: 14px;
}

.customer-checkout-content__column {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-checkout-content__column._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customer-checkout-content__column:nth-child(1) label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.customer-checkout-content__column:nth-child(2) label:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.customer-checkout-content__column:nth-child(2) label:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.customer-checkout-content__column-text {
  margin: 0px 0px 17px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.customer-checkout-content__dates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-checkout-content__dates img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.customer-checkout-content__radio {
  margin: 0px 0px 9px 0px !important;
  padding: 0px 0px 0 25px;
  position: relative;
}

.customer-checkout-content__radio:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #707070;
  border-radius: 10px;
  width: 16px;
  height: 16px;
}

.customer-checkout-content__radio:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background: url("../img/icons/bird.svg") center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.customer-checkout-content input[type="radio"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.customer-checkout-content input[type="radio"]:checked + label:after {
  opacity: 1;
}

.customer-checkout-content input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.customer-checkout-content input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.customer-checkout-content__btns {
  margin: 82px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-checkout-content__btns button {
  background: #80233A;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 13px 63px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customer-checkout-content__btns button:hover {
  background: #a22141;
}

.customer-checkout-content__btn-back {
  margin: 0px 0px 0px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #80233A;
  padding: 13px 33px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.customer-checkout-content__btn-back._active {
  opacity: 1;
  visibility: visible;
}

.customer-checkout-content__btn-back span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-checkout-content__btn-back:hover {
  border: 1px solid #80233A;
}

.customer-checkout-content__content-text {
  margin: 51px 0px 0px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.customer-checkout-content__helps {
  margin: 30px 0px 30px 0px;
  background: rgba(114, 64, 138, 0.23);
  padding: 30px 25px;
}

.customer-checkout-content__helps-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer-checkout-content__helps-header a {
  font-size: 13px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #707070;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.customer-checkout-content__helps-header a:hover {
  color: #80233A;
}

.customer-checkout-content__helps-title {
  margin: 0px 20px 0px 0px;
  font-size: 14px;
  line-height: 150%;
  color: #72408A;
}

.customer-checkout-content__helps-body {
  margin: 20px 0px 0px 0px;
}

.customer-checkout-content__helps-item {
  margin: 0px 0px 10px 0px;
  background: #FFFFFF;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 143%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.customer-checkout-content__helps-item:last-child {
  margin: 0px 0px 0px 0px;
}

.customer-checkout-content__helps-item:hover {
  border: 1px solid #80233A;
}

.customer-checkout-content__helps-item span {
  color: #72408A;
}

.orders-checkout-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  border: 1px solid #D8D8D8;
  padding: 32px 0px;
}

.orders-checkout-content__header {
  padding: 0px 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orders-checkout-content__header a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #707070;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.orders-checkout-content__header a:hover {
  color: #80233A;
}

.orders-checkout-content__title {
  margin: 0px 10px 0px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

.orders-checkout-content__count {
  padding: 0px 51px;
  margin: 10px 0px 0px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #707070;
}

.orders-checkout-content__items {
  margin: 30px 0px 0px 0px;
  padding: 0px 51px 53px 51px;
  border-bottom: 1px solid #D8D8D8;
}

.orders-checkout-content__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.orders-checkout-content__item:last-child {
  margin: 0px 0px 0px 0px;
}

.orders-checkout-content__item-img {
  margin: 0px 33px 0px 0px;
  width: 92px;
  height: 92px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 92px;
          flex: 0 0 92px;
}

.orders-checkout-content__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.orders-checkout-content__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orders-checkout-content__item-title {
  font-size: 14px;
  line-height: 157%;
}

.orders-checkout-content__item-size {
  font-size: 14px;
  line-height: 157%;
  color: #707070;
}

.orders-checkout-content__item-prise {
  font-size: 14px;
  line-height: 157%;
  color: #80233A;
}

.orders-checkout-content__item-qty {
  font-size: 12px;
  line-height: 157%;
  color: #707070;
}

.orders-checkout-content__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.orders-checkout-content__close img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.orders-checkout-content__total {
  padding: 0px 51px;
  margin: 23px 0px 0px 0px;
}

.orders-checkout-content__total-row {
  margin: 7px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 169%;
}

.orders-checkout-content__total-row:first-child {
  font-weight: 600;
}

.orders-checkout-content__total-row span:first-child {
  text-transform: uppercase;
}

.orders-checkout-content__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 20px 16px;
  background: #EFEFEF;
  display: none;
}

.dates-customer-checkout-content {
  margin: 50px 0px 0px 0px;
  background: #FBFBFB;
  padding: 20px 32px;
}

.dates-customer-checkout-content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dates-customer-checkout-content__tabs {
  margin: 0px 51px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dates-customer-checkout-content__tab {
  margin: 0px 0px 3px 0px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 133.33333%;
  color: #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dates-customer-checkout-content__tab:hover {
  background: #F9F7F7;
  border-right: 2px solid #72408A;
  color: #72408A;
}

.dates-customer-checkout-content__tab._active {
  background: #F9F7F7;
  border-right: 2px solid #72408A;
  color: #72408A;
}

.dates-customer-checkout-content__content {
  display: none;
}

.dates-customer-checkout-content__content._active {
  display: block;
}

.dates-customer-checkout-content__content._fullCalendar .dates-customer-checkout-content__numbers li {
  cursor: pointer;
}

.dates-customer-checkout-content__content._fullCalendar .dates-customer-checkout-content__numbers li:hover {
  background: #72408A;
  color: #fff;
}

.dates-customer-checkout-content__content._fullCalendar .dates-customer-checkout-content__numbers li._active {
  background: #72408A;
  color: #fff;
}

.dates-customer-checkout-content__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dates-customer-checkout-content__months-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%;
}

.dates-customer-checkout-content__months-text span:last-child {
  margin: 0px 0px 0px 4px;
}

.dates-customer-checkout-content__days {
  margin: 20px 0px 0px 0px;
}

.dates-customer-checkout-content__days ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dates-customer-checkout-content__days ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.29%;
          flex: 0 0 13.29%;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33333%;
}

.dates-customer-checkout-content__days ul li:last-child {
  margin: 0px 0px 0px 0px;
}

.dates-customer-checkout-content__days ul li:first-child {
  color: red;
}

.dates-customer-checkout-content__numbers {
  margin: 12px 0px 0px 0px;
}

.dates-customer-checkout-content__numbers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dates-customer-checkout-content__numbers ul li {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.29%;
          flex: 0 0 13.29%;
  padding: 8px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33333%;
  color: #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dates-customer-checkout-content__numbers ul li:nth-child(7n +1) {
  color: red;
}

.dates-customer-checkout-content__numbers ul li._active {
  background: #72408A;
  color: #fff;
}

.dates-customer-checkout-content__months-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dates-customer-checkout-content__months-btns span {
  cursor: pointer;
  margin: 0px 22px 0px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dates-customer-checkout-content__months-btns span:last-child {
  margin: 0px 0px 0px 0px;
}

.dates-customer-checkout-content__months-btns span:hover {
  opacity: 0.7;
}

.regular-customers-content .customer-checkout-content__content {
  display: block !important;
}

.regular-customers-content .customer-checkout-content__content button {
  margin: 40px 0px 0px 0px;
  width: 100%;
  background: #80233A;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 13px 33px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.regular-customers-content .customer-checkout-content__content button:hover {
  background: #a22141;
}

.regular-customers-content .customer-checkout-content__content p {
  margin: 22px 0px 0px 0px;
  font-size: 14px;
  text-align: center;
}

.regular-customers-content .customer-checkout-content__content .customer-checkout-content__content-text {
  margin: 0px 0px 0px 0px;
}

.peyment-content .checkout-content__customer {
  margin: 0px 0px 0px 0px;
}

.peyment-content .customer-checkout-content__form {
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peyment-content .customer-checkout-content__form button {
  display: block;
  background: #80233A;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 13px 63px;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.peyment-content .customer-checkout-content__form button:hover {
  background: #a22141;
}

.peyment-content label:nth-child(9) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.peyment-content label:nth-child(8) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin: 0px 20px 17px 0px;
}

.peyment-content .customer-checkout-content__content {
  display: block;
}

.peyment-content__form-text {
  margin: 60px 0px 0px 0px;
  font-size: 12px;
  line-height: 150%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
}

.peyment-content__title {
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
}

.peyment-content__form-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 20px;
  line-height: 140%;
  margin: 17px 0px 15px 0px;
}

.peyment-content__form-checkbox {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 20% !important;
          flex: 0 0 20% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0px 0px 0 30px;
}

.peyment-content__form-checkbox:before {
  content: '';
  position: absolute;
  top: 11;
  left: 0;
  border: 1px solid #707070;
  border-radius: 10px;
  width: 16px;
  height: 16px;
}

.peyment-content__form-checkbox:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  width: 9px;
  height: 9px;
  background: url("../img/icons/bird.svg") center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.peyment-content__form-checkbox img {
  width: 73px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.peyment-content__form-checkbox:nth-child(2) {
  margin: 10px 0px 10px 0px !important;
}

.peyment-content__form-checkbox:nth-child(2):after {
  top: 4px;
}

.peyment-content__form-checkbox:nth-child(2) img {
  width: 20px;
}

.peyment-content input[type="radio"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.peyment-content input[type="radio"]:checked + label:after {
  opacity: 1;
}

.peyment-content__btns {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.peyment-content__btns button {
  background: #80233A;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 13px 63px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.peyment-content__btns button:hover {
  background: #a22141;
}

.peyment-content__btns a {
  margin: 0px 0px 0px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #80233A;
  padding: 13px 33px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.peyment-content__btns a img {
  margin: 0px 9px 0px 0px;
}

.peyment-content__btns a:hover {
  border: 1px solid #80233A;
}

.order-details-content .customer-checkout-content__contents {
  margin: 0px 0px 0px 0px;
}

.order-details-content__items {
  margin: 46px -40px 0px -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-details-content__item {
  padding: 0px 40px;
  margin: 0px 0px 40px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.order-details-content__wrapp {
  max-width: 329px;
}

.order-details-content__item-title {
  font-size: 16px;
  line-height: 169%;
  text-transform: uppercase;
}

.order-details-content__item-value {
  margin: 6px 0px 0px 0px;
  font-size: 16px;
  line-height: 169%;
  color: #707070;
}

.order-details-content__btns {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-details-content__btns .btn {
  width: 50%;
  margin: 0px 50px 0px 0px;
  text-transform: uppercase;
}

.order-details-content__btns .change {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #707070;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.order-details-content__btns .change:hover {
  color: #80233A;
}

.delivery-information__content {
  padding: 50px 0px 50px 0;
}

.delivery-information__content h2 {
  margin: 40px 0px 0px 0px;
}

.delivery-information__content h3 {
  margin: 30px 0px 0px 0px;
}

.delivery-information__content p {
  margin: 20px 0px 0px 0px;
}

.delivery-information__content a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #707070;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.delivery-information__content a:hover {
  color: #80233A;
}

.privacy-policy__content {
  padding: 50px 0px 50px 0;
}

.privacy-policy__content h2 {
  margin: 40px 0px 0px 0px;
}

.privacy-policy__content h3 {
  margin: 30px 0px 0px 0px;
}

.privacy-policy__content p {
  margin: 20px 0px 0px 0px;
}

.privacy-policy__content a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #707070;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.privacy-policy__content a:hover {
  color: #80233A;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: block;
  background: #80233A;
  color: #FCFCFC;
  text-transform: uppercase;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #a22141;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
}

.page-content {
  padding: 50px 0px 50px 0;
}

.page-content h2 {
  margin: 40px 0px 0px 0px;
}

.page-content h3 {
  margin: 30px 0px 0px 0px;
}

.page-content p {
  margin: 20px 0px 0px 0px;
}

.page-content a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #707070;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.page-content a:hover {
  color: #80233A;
}

@media screen and (max-width: 1200px) {
  .products-cart-content__img {
    margin: 0px 20px 0px 0px;
  }

  .products-cart-content__info {
    margin: 0px 20px 0px 0px;
  }

  .products-cart-content__choose {
    margin: 0px 20px 0px 0px;
  }
}

@media screen and (max-width: 992px) {
  .totals-cart-content__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .totals-cart-content__info-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 10px 0px 0px 0px;
  }

  .customer-checkout-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }

  .customer-checkout-content__step {
    margin: 0px 10px 0px 0px;
  }

  .customer-checkout-content__column:nth-child(1) label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .customer-checkout-content__column:nth-child(2) label:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .customer-checkout-content__column:nth-child(2) label:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .customer-checkout-content__helps-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .customer-checkout-content__helps-title {
    margin: 0px 0px 10px 0px;
  }

  .orders-checkout-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .orders-checkout-content__header {
    padding: 0px 31px;
  }

  .orders-checkout-content__count {
    padding: 0px 31px;
  }

  .orders-checkout-content__items {
    padding: 0px 30px 53px 30px;
  }

  .orders-checkout-content__total {
    padding: 0px 31px;
  }

  .peyment-content label:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .peyment-content label:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 17px 0px;
  }

  .order-details-content__items {
    margin: 46px -20px 0px -20px;
  }

  .order-details-content__item {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 940px) {
  .customer-checkout-content__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .customer-checkout-content__step {
    margin: 0px 0px 10px 0px;
  }
}

@media screen and (max-width: 821px) {
  .orders-checkout-content__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .orders-checkout-content__title {
    margin: 0px 0px 10px 0px;
  }
}

@media screen and (max-width: 768px) {
  .cart-content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .products-cart-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .products-cart-content__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .products-cart-content__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    height: 250px;
  }

  .products-cart-content__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .products-cart-content__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .totals-cart-content {
    margin: 40px 0px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .totals-cart-content__title {
    text-align: center;
  }

  .totals-cart-content__info-subtotal {
    text-align: center;
    margin: 0px 0px 0px 0px;
  }

  .totals-cart-content__info-desc {
    text-align: center;
  }

  .totals-cart-content__tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .totals-cart-content__tab-icon {
    margin: 0px 15px 0px 0px;
  }

  .totals-cart-content__content {
    max-width: 100%;
  }

  .checkout-content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customer-checkout-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .customer-checkout-content__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .orders-checkout-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 50px 0px 0px 0px;
    width: 100%;
  }

  .orders-checkout-content__count {
    display: none;
  }

  .orders-checkout-content__item-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .peyment-content__form-text {
    margin: 30px 0px 0px 0px;
  }
}

@media screen and (max-width: 624px) {
  .products-cart-content__img {
    height: 136px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 136px;
            flex: 0 0 136px;
  }
}

@media screen and (max-width: 576px) {
  .cart-offer a {
    display: none;
  }

  .cart-content {
    padding: 50px 0px;
  }

  .products-cart-content__item {
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .products-cart-content__img {
    margin: 0px 5px 0px 0px;
    height: 162px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 162px;
            flex: 0 0 162px;
  }

  .products-cart-content__info {
    margin: 0px 0px 0px 0px;
  }

  .products-cart-content__title {
    font-size: 14px;
  }

  .products-cart-content__size {
    font-size: 14px;
  }

  .products-cart-content__cost {
    font-size: 14px;
  }

  .products-cart-content__select {
    display: block;
    margin: 43px 0px 0px 0px;
    padding: 10px 10px;
    background: #EFEFEF;
    border: none;
  }

  .products-cart-content__choose {
    display: none;
  }

  .products-cart-content__close {
    position: absolute;
    top: -5px;
    right: -21px;
  }

  .totals-cart-content__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .totals-cart-content__info {
    -moz-text-align-last: left;
         text-align-last: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .totals-cart-content__info-subtotal {
    font-size: 12px;
  }

  .totals-cart-content__info-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56%;
            flex: 0 0 56%;
    margin: 0px 0px 0px 0px;
  }

  .totals-cart-content__info-cost {
    font-size: 12px;
  }

  .totals-cart-content__info-text a {
    font-size: 12px;
  }

  .totals-cart-content__info-text {
    font-size: 12px;
    text-align: left;
  }

  .totals-cart-content__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .totals-cart-content__tab {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 20px 0px;
  }

  .totals-cart-content__tab-text {
    margin: 0px 0px 0px 0px;
  }

  .checkout-offer h1 {
    text-align: left;
  }

  .checkout-offer p {
    display: none;
  }

  .checkout-offer__login {
    display: block;
  }

  .checkout-content {
    padding: 0px 0px;
  }

  .customer-checkout-content__tabs {
    display: none;
  }

  .customer-checkout-content__contents {
    margin: 0px 0px 0px 0px;
  }

  .customer-checkout-content__content:nth-child(2) {
    display: none;
  }

  .customer-checkout-content__helps {
    padding: 20px 10px;
  }

  .customer-checkout-content__helps-item {
    padding: 10px 10px;
  }

  .dates-customer-checkout-content {
    padding: 20px 15px;
  }

  .dates-customer-checkout-content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dates-customer-checkout-content__contents {
    margin: 30px 0px 0px 0px;
  }

  .peyment-offer {
    display: none;
  }

  .peyment-content {
    padding: 60px 0px;
  }

  .peyment-content__title {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }

  .peyment-content__form-title {
    font-size: 14px;
  }

  .peyment-content__form-checkbox {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }

  .peyment-content__form-checkbox:nth-child(2):after {
    top: 4px;
  }

  .order-details-content__items {
    margin: 26px -10px 0px -10px;
  }

  .order-details-content__item {
    padding: 0px 10px;
    margin: 0px 0px 20px 0px;
  }

  .order-details-content__item-title {
    font-size: 14px;
  }

  .order-details-content__item-value {
    font-size: 12px;
  }

  .order-details-content__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order-details-content__btns .btn {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .order-details-content__btns .change {
    margin: 20px 0px 0px 0px;
  }

  h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 475px) {
  .customer-checkout-content__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customer-checkout-content__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customer-checkout-content__btns button {
    width: 100%;
  }

  .customer-checkout-content__btn-back {
    width: 100%;
    margin: 20px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .orders-checkout-content {
    border: none;
    border-top: 1px solid #D8D8D8;
  }

  .orders-checkout-content__header a {
    display: none;
  }

  .orders-checkout-content__header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0px;
  }

  .orders-checkout-content__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .orders-checkout-content__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 16px;
    background: #EFEFEF;
    border-bottom: none;
    border-top: 1px solid #D8D8D8;
    margin: 0px 0px 0px 0px;
  }

  .orders-checkout-content__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .orders-checkout-content__item-img {
    display: none;
  }

  .orders-checkout-content__item-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .orders-checkout-content__item-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .orders-checkout-content__item-title {
    color: #707070;
  }

  .orders-checkout-content__item-size {
    display: none;
  }

  .orders-checkout-content__item-prise {
    color: #707070;
  }

  .orders-checkout-content__item-qty {
    display: none;
  }

  .orders-checkout-content__close {
    display: none;
  }

  .orders-checkout-content__total {
    padding: 20px 0px;
    background: #EFEFEF;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .orders-checkout-content__total-row:first-child {
    font-size: 12px;
    padding: 20px 16px 20px 16px;
    font-weight: inherit;
  }

  .orders-checkout-content__total-row {
    font-size: 12px;
    padding: 20px 16px;
    border-top: 1px solid #D8D8D8;
    margin: 0px 0px 0px 0px;
  }

  .orders-checkout-content__total-row:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .orders-checkout-content__total-row:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-weight: 600;
  }

  .orders-checkout-content__total-row:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .orders-checkout-content__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0px 0px 0px;
  }

  .peyment-content__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .peyment-content__btns button {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .order-details-content__items {
    margin: 26px -5px 0px -5px;
  }

  .order-details-content__item {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 340px) {
  .products-cart-content__img {
    height: 152px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 152px;
            flex: 0 0 152px;
  }
}