@media (max-width: 1820px) {
    :root {
    }

}
@media (max-width: 1750px) {


}
@media  (max-width: 1650px) {


}
@media (max-width: 1560px) {


}
@media (max-width: 1470px) {


}
@media (max-width: 1380px) {

}
@media (max-width: 1280px) {

}
@media  (max-width: 1199px) {
    .header .menu {
        width: 95%;
        flex-wrap: wrap;
    }
    .best-sellers {
        width: 95%;
    }
    .best-sellers > .main-area .categories {
        justify-content: center;
    }
    .about {
        width: 95%;
    }
    .follow {
        width: 95%;
    }
    .follow .img-area {
        flex-direction: column;
    }
    .follow .img-area .main-img {
        width: 560px;
        margin-bottom: 10px;
    }
    .header .main-content .panel-area {
        padding-right: 19px;
    }
}
@media  (max-width: 1140px) {

}
@media  (max-width: 1120px) {
    .best-sellers > .main-area .products .item{
        width: 31.5%;
    }
    .best-sellers > .main-area .products .item .img-area {
        height: 29vw;
    }
    .similar .wrapper .items-area {
        gap: 1.2%;
    }
    .similar .wrapper .items-area .item {
        width: 32%;
    }
    .similar .wrapper .items-area .item .img-area {
        width: 100%;
        height: calc(538vw/19.2);

    }
}
@media  (max-width: 1080px) {
    .product .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product .wrapper > .slider-description {
        margin-right: auto;
    }
    .product .wrapper > .slider-description .description-area {
        display: none;
    }
    .product .wrapper > .main-text-area {
        margin: 30px auto 0 0;
    }
    .product .wrapper > .main-text-area .description-mob{
        display: flex;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #D8D8D8;
    }
    .product .wrapper > .main-text-area .description-mob .items{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .product .wrapper > .main-text-area .description-mob .items .item{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .product .wrapper > .main-text-area .description-mob .items .item .title{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        line-height: 167%;
        color: #000000;
        margin-bottom: 11px;
    }
    .product .wrapper > .main-text-area .description-mob .items .item .title:after{
        content: '';
        min-width: 6px;
        width: 10px;
        height: 15px;
        background: url(../img/icon-down-arrow.svg) no-repeat center;
        background-size: contain;
    }
    .product .wrapper > .main-text-area .description-mob .items .item.show .title:after{
        transition: 0.7s;
        transform: rotate(180deg);
    }
    .product .wrapper > .main-text-area .description-mob .items .item .body{
        display: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-family: 'Inter', sans-serif;
        font-size: 10px;
        line-height: 167%;
        color: #000000;
        margin-bottom: 11px;
    }
    .product .wrapper > .main-text-area .description-mob .items .item.show .body{
        display: flex;
    }

}
@media  (max-width: 980px) {
    .reviews > .items .wrapper .item {
        width: 45.6vw !important;
    }
    /*.reviews > .items .wrapper {*/
    /*    margin-left: -21vw;*/
    /*}*/
}
@media (max-width: 910px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer .menu-area {
        width: 320px;
        margin-bottom: 14px;
    }
    .footer .contact-area {
        width: 320px;
        /* margin-bottom: 30px; */
    }
    .footer .pay-area {
        width: 320px;
        justify-content: center;
        align-items: center;
    }
    .similar .wrapper .items-area .item .img-area {
        margin-bottom: 11px;
    }
    .similar .wrapper .items-area .item .name {
        font-size: 14px;
    }
    .similar .wrapper .items-area .item .price-area {
        font-size: 12px;
    }
}
@media (max-width: 820px) {
    /*.reviews > .items .wrapper .item {*/
    /*    display: none !important;*/
    /*}*/
    .reviews > .items .wrapper .item {
        display: flex;
        width: 95vw !important;
    }
    .reviews > .items .wrapper .slick-current .item {
        display: flex;
        width: 95vw !important;
        margin: 0 3vw !important;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }
    .header .main-content .panel-area .search-form {
        margin-right: 0;
    }
    .header .main-content .panel-area .subscribe {
        margin: 0 25px;
    }
    .reviews > .items .wrapper {
        margin-left: 0 !important;
    }
}
@media (max-width: 770px) {
    .main-slider {
        width: 100%;
         height: unset;
        position: relative;
    }
    .main-slider .slide .content .title {
        font-size: 30px;
        line-height: 25px;
    }
    .main-slider .slide {
        height: 400px;
    }
    .main-slider .slide .content .text {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 11px;
    }
    .main-slider .slide .content .button {
        width: 134px;
        height: 27px;
        font-size: 13px;
        line-height: 16px;
    }
    .main-slider .panel .slick-dots li {
        width: 7px;
        height: 7px;
        margin-right: 7px;
    }
    .about {
        flex-direction: column;
        margin: 30px auto;
    }
    .best-sellers > .main-area .products .product .title{
        display: flex;
        text-align: start;
        justify-content: space-between;
        margin: 0 0 30px;
        align-items: center;
        width: 100%;
    }
    .best-sellers > .main-area .products .item .text-area .text-column .name-product {
        font-family: 'Inter Medium', sans-serif;
        font-size: 13px;
        line-height: 16px;
    }
    .best-sellers > .main-area .products .item .text-area .text-column .price {
        font-family: 'Inter';
        font-size: 12px;
        line-height: 15px;
    }
    .best-sellers > .main-area .products .item .text-area .icon {
        width: 22px;
        min-width: 22px;
        height: 22px;
    }
    .best-sellers > .main-area .products .item .text-area .icon svg {
        width: 13px;
        height: 13px;
    }
    .best-sellers > .main-area .categories {
        display: none;
    }
    .best-sellers > .title {
        display: none;
    }
    .best-sellers > .sub-title {
        display: none;
    }
    .best-sellers > .main-area .products .product{
        display: flex;
        margin-bottom: 15px;
    }
    .best-sellers > .main-area .products .product .items-area {
        width: 100%;
        gap: 2.5%;
    }
    .best-sellers > .main-area .button{
        display: none;
    }
    .best-sellers > .main-area .button{
        display: none;
    }
    .best-sellers > .main-area .products .item {
        display: none;
    }
    .best-sellers > .main-area .products .item.active {
        display: flex;
    }
    .best-sellers {
        margin: 23px auto;
    }
    .reviews > .panel {
        margin-bottom: 36px !important;
    }
    .reviews > .panel .arrow.right,
    .reviews > .panel .arrow.left {
        width: 15px !important;
        height: 15px !important;
    }
    .reviews > .panel .indicators .slick-dots li {
        width: 6px;
        height: 6px;
    }
    .reviews > .title {
        margin: 28px auto 0;
        font-size: 20px;
        line-height: 24px;
    }
    .reviews > .items {
        margin: 20px 0 0;
    }
    .reviews > .sub-title {
        font-family: "Inter Light", sans-serif ;
        font-size: 12px;
        line-height: 15px;
    }
    .about .img-area {
        max-width: 420px;
        width: 90%;
        margin-right: 0;
    }
    .main-slider .wrapper .slide .content .button::before {
        min-width: calc(134px + 12px);
        min-height: calc(33px + 12px);
        border: 3px solid rgba(128,35,58,1);
    }
    .main-slider .wrapper .slide .content .button::after {
        border: 3px solid #72408A;
    }
    @keyframes ring {
        0% {
            width: 15px;
            height: 15px;
            opacity: 1;
        }
        100% {
            width: 150px;
            height: 150px;
            opacity: 0;
        }
    }
    .header .top-intro .text {
        height: auto;
        padding: 10px 35px;
    }
    .header .top-intro .text {
        font-size: 10px;
        line-height: 13px;
    }
}
@media (max-width: 680px) {
    .header .main-content .panel-area .subscribe {
        display: none;
    }
    .header .main-content .panel-area{
        width: 100%;
    }
    .advantages{
        padding: 15px;
    }
    .advantages .items-area{
        max-width: 416px;
        margin: 0;
    }
    .advantages .items-area .item:not(:last-child){
        margin-right: 5px;
    }
    .advantages .items-area .item:first-child{
        max-width: 82px;
    }
    .advantages .items-area .item:nth-child(2){
        max-width: 92px;
    }
    .advantages .items-area .item:nth-child(3){
        max-width: 54px;
    }
    .advantages .items-area .item:nth-child(4){
        max-width: 57px;
    }
    .advantages .items-area .item .icon {
        border: 0.5px solid #80233A;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
    }
    .advantages .items-area .item .icon svg{
        width: 14px;
    }
    .advantages .items-area .item .text {
        font-size: 8px;
        line-height: 10px;
        text-transform: capitalize;
    }
    .advantages .items-area .item .icon {
        margin: 0 auto 15px;
    }
    .best-sellers > .main-area .products .items-area{
        justify-content: space-between;
    }
    .best-sellers > .main-area .products .item {
        min-width: 48%;
        width: 48%;
        margin-right: 0;
    }
    .best-sellers > .main-area .products .item .img-area {
        height: 39vw;
    }
    .footer .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    .footer .wrapper > * {
        width: 100%;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer .menu-area {
        width: 42% !important;
    }
    .footer .contact-area {
        width: 50% !important;
    }
    .footer .menu-area .menu .item a {
        justify-content: flex-start;
        font-size: 12px;
    }
    .footer .contact-area .address{
        max-width: 280px;
        text-align: start;
        margin-top: 29px;
        font-size: 12px;
    }
    .footer .contact-area > .items-area .item {
        font-size: 12px;
        margin-bottom: 4px;
    }
    .footer .contact-area .address .title-adress {
        font-size: 12px;
    }
    .footer .contact-area > .items-area .item .insta {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }
    .footer .contact-area > .items-area .item .email {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }
    .footer .contact-area > .items-area .item .tel {
        width: 18px;
        min-width: 18px;
        height: 18px;
    }

}
@media (max-width: 620px) {
    .follow .img-area .main-img {
        width: 100%;
    }
    .about .img-area {
        max-width: 247px;
    }
    .about .text-area {
        align-items: center;
    }
    .about .text-area .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 11px;
    }
    .about .text-area .text {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
    .form-info {
        padding: 33px 0 36px;
    }
    .form-info .title {
        margin-bottom: 11px;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 24px;
    }
    .form-info .text {
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 15px;
        max-width: 238px;
    }
    .form-info .form-area .get-email {
        width: 213px;
        height: 34px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 16px;
    }
    .form-info .form-area .button {
        font-size: 13px;
        line-height: 16px;
        width: 134px;
        height: 33px;
    }
    .follow {
        margin: 43px auto 31px;
        width: 100%;
    }
    .follow .title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .follow .text {
        font-size: 13px;
        line-height: 15px;
        margin: 0 auto 16px;
        width: 301px;
    }
    .follow .follow-url {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 33px;
    }
    .follow .follow-url .icon {
        width: 22px;
        height: 22px;
        margin-left: 8px;
    }
    .follow .img-area .imgs {
        width: 100%;
    }
    .follow .img-area .imgs .img {
        width: 49vw;
        height: 31vw;
        margin-bottom: 2vw;
        object-fit: cover;
    }
    .follow .img-area .imgs .img:nth-child(even) {
        width: 49vw;
    }
    .follow .img-area .imgs .img img {
        width: 100%;
        height: 100%;
        margin-bottom: unset;
    }
    .similar .wrapper .items-area .item {
        width: 48%;
        margin-bottom: 30px;
    }
    .similar .wrapper .items-area .item .img-area{
        height: 40vw;
    }
    .product .wrapper > .slider-description .services-slider .nav-container{
        display: none;
    }
    .product .wrapper > .slider-description .services-slider .main-container{
        width: 100%;
    }
}
@media (max-width: 555px) {
    .header .menu {
        display: none;
    }
    .mob-menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 24px;
    }
    .follow .img-area .imgs {
        width: 100%;
    }
    .follow .text {
        width: 90%;
    }
    .follow .img-area .imgs img {
        width: 49%;
        margin-bottom: 1.5%;
    }
    .follow .img-area .main-img {
        margin-bottom: 1.5%;
    }
    .about .text-area .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .follow {
        width: 100%;
    }
    .footer .menu-area {
        /* justify-content: center; */
        /* align-items: center; */
    }
    .footer .menu-area .menu .item a {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .footer .contact-area .title {
        justify-content: center;
        margin-bottom: 19px;
    }
    .footer .contact-area > .copyright {
        /* justify-content: center; */
    }
    .header .top-intro {
        background: #F4F2F2;
    }
    .header .top-intro .text {
        min-height: 55px;
        padding: 10px 35px;
    }
    .header .main-content .main-logo {
        height: 59px;
        width: 57px;
        min-width: 59px;
    }
    .header .main-content .panel-area {
        margin: 0 0 0 auto;
    }
    .header .main-content .panel-area {
        padding-right: 16px;
    }
    .header .main-content .panel-area .icons-area .icon {
        margin-right: 21px;
    }
    .header .main-content .panel-area .search-form {
        padding: 0;
        margin: 0 21px 4px auto;
        border: none;
        position: relative;
    }
    .header .main-content .panel-area .search-form .search-input{
        position: absolute;
        top: -14px;
        left: 1024px;
        z-index: 1;
        padding: 17px 10px;
        transition: 1.5s;
    }
    .header .main-content .panel-area .search-form .search-input.active{
        transition: 1.5s;
        left: 24px;
    }
    .header .main-content .panel-area .search-form svg path{
        fill: #80233A;;
    }
    .main-slider .slide{
        height: 219px;
    }
    .main-slider .panel {
        bottom: 41px;
    }
    .header .main-content {
        padding: 7px 0;
    }
    .best-sellers > .main-area .products .product .title {
        font-size: 14px;
        line-height: 17px;
    }
    .best-sellers > .main-area .products .product .title .button-more-title{
        font-size: 12px;
    }
    .best-sellers > .main-area .products .item {
        box-shadow: unset;
    }
    .best-sellers > .main-area .products .item .text-area{
        margin: 12px 0 10px 0;
    }
    .product .wrapper > .main-text-area > .title{
        font-size: 16px;
        line-height: 219%;
        margin-bottom: 0;
    }
    .product .wrapper > .main-text-area {
        margin: 14px auto 0 0;
    }
    .product .wrapper > .main-text-area > .price{
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 7px;
    }
    .product .wrapper > .main-text-area .description{
        font-size: 12px;
        line-height: 167%;
    }
    .product .wrapper > .main-text-area .description {
        margin-bottom: 24px;
    }
    .product .wrapper > .main-text-area .description .show-more {
        margin-top: 9px;
        display: flex;
        font-family: 'Inter Medium', sans-serif;
        font-size: 12px;
        line-height: 167%;
        color: #80233A;
        text-decoration: unset;
        text-transform: unset;
        justify-content: center;
        align-items: center;
    }
    .product .wrapper > .main-text-area .description .show-more:after {
        content: '';
        width: 5.5px;
        min-width: 5.5px;
        height: 9.5px;
        background: url(../img/icon-mob-right.svg) no-repeat center;
        background-size: contain;
        cursor: pointer;
        margin-left: 5px;
        margin-top: 2px;
    }
    .product .wrapper > .main-text-area .size-area {
        margin-bottom: 23px;
        flex-direction: row;
    }
    .product .wrapper > .main-text-area .size-area > .title {
        margin-right: 32px;
        margin-bottom: 0;
    }
    .product .wrapper > .main-text-area .size-area .items-area .item {
        width: 47px;
        height: 25px;
        font-size: 12px;
        line-height: 15px;
    }
    .product .wrapper > .main-text-area .total-area .total {
        margin-bottom: 25px;
    }
    .product .wrapper > .main-text-area .total-area .button-area .button-add {
        font-family: 'Inter Bold', sans-serif;
        font-size: 13px;
    }
    .product .wrapper > .main-text-area .total-area .button-area {
        margin-bottom: 40px;
    }
    .product .wrapper > .main-text-area .zipcode .zip-area .zip-input {
        width: 49%;
        min-width: 49%;
        padding: 0 15px;
        font-size: 12px;
        line-height: 15px;
        margin-right: 4px;
    }
    .product .wrapper > .main-text-area .zipcode .zip-area {
        margin-bottom: 34px;
    }
    .product .wrapper > .main-text-area .extra-gift .title-area .view-all {
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        text-decoration-line: unset;
        text-transform: unset;
        color: #80233A;
    }
    .product .wrapper > .main-text-area .extra-gift .items-area .item {
        width: 32%;
    }

}
@media (max-width: 490px) {
    .about .text-area {
        width: 95%;
        margin: auto;
    }
    .offer .img-area {
        width: 38px;
        min-width: 38px;
        height: auto;
    }
    .offer .text {
        font-size: 12px;
        line-height: 15px;
    }
    .offer .wrapper{
        max-width: 239px;
        margin: 0 10px;
    }
    .reviews > .items .item .text {
        font-size: 12px;
        line-height: 15px;
    }
    .reviews > .items .wrapper .item .body-item {
        padding: 25px 33px 35px;
        min-height: auto;
    }
    .reviews > .items .item .name {
        font-size: 14px;
        line-height: 17px;
    }
    .reviews > .items .wrapper .item .body-item:before {
        width: 32px;
        height: 36px;
        top: 5px;
        left: 7px;
    }
    .reviews > .items .wrapper .item .body-item:after {
        width: 32px;
        height: 36px;
        bottom: 5px;
        right: 7px;
    }
    .footer {
        padding: 40px 15px 20px 15px;
    }
    .footer .pay-area {
        /* width: 180px; */
        justify-content: space-between;
        margin-bottom: 0;
    }
    .footer .pay-area img {
        width: 77px;
    }
    .footer .pay-area {
        height: auto;
    }
    .product .wrapper > .slider-description .services-slider .wrapper1{
        height: 332px;
    }
    .product .wrapper > .main-text-area {
        max-width: 100%;
    }
    .product .wrapper > .main-text-area .total-area .button-area .button-add {
        width: 75%;
        margin-left: 11px;
    }
    .product .wrapper > .main-text-area .zipcode .zip-area .zip-input {
        width: 49%;
    }
    .product .wrapper > .main-text-area .zipcode .zip-area .zip-button {
        width: 49%;
        font-size: 12px;
        padding: 5px;
    }
    .product .wrapper > .slider-description .services-slider .main-container .slider-main img {
        height: 332px;
    }
    .footer .contact-area > .items-area .item {
        font-size: 10px;
    }
    .footer .contact-area > .copyright {
        font-size: 12px;
        margin-top: 25px;
    }
    .footer .menu-area .menu .item a {
        font-size: 10px;
    }
}

@media (max-width: 353px) {
    .footer .contact-area > .items-area .item{
        word-break: break-word;
    }
}
@media (max-height: 600px) {

}
@media (max-height: 421px) {

}


