@import url("fonts.css");
html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}
.line-deco{
    background: #EFCFDA;
    width: 100%;
    height: 1px;
}
.mob-menu-icon{
    display: none;
}
.header{
    display: flex;
    flex-direction: column;
}
.header .top-intro{
    display: flex;
    justify-content: center;
    align-content: center;
    background: #FAFAFA;
}
.header .top-intro .text{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 15px;
    height: 38px;
    color: #6A6A6A;
    max-width: 1110px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header .main-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1127px;
    width: 100%;
    margin: 0 auto 0;
    overflow: hidden;
}
.header .main-content .main-logo{
    width: 108px;
    height: 113px;
    margin-right: 10px;
}
.header .main-content .main-logo:hover{
    transition: 0.7s;
    opacity: 0.7;
}
.header .main-content .main-logo svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header .main-content .panel-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 29px auto;
}
.header .main-content .panel-area .search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px 15px 8px;
    border-bottom: 1px solid rgba(108, 108, 108, 0.12);
    margin-right: 79px;
}
.header .main-content .panel-area .search-form .search-input{
    border: none;
    width: 190px;
    margin-right: 13px;
    font-family: 'Inter';
    font-size: 13px;
    line-height: 16px;
    display: flex;
    color: #000000;
    outline: none;
}
.header .main-content .panel-area .search-form .search-input::placeholder{
    color: #8E8E8E;
}
.header .main-content .panel-area .search-form .icon-button{
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
}
.header .main-content .panel-area .search-form .icon-button:hover{
    transition: 0.7s;
    opacity: 0.7;
}
.header .main-content .panel-area .subscribe{
    margin-right: 80px;
    font-family: 'Inter Bold', sans-serif;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    height: 43px;
    justify-content: center;
}
.header .main-content .panel-area .subscribe:hover{
    transition: 0.7s;
    color: #72408A;
}
.header .main-content .panel-area .icons-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}
.header .main-content .panel-area .icons-area .icon{
    position: relative;
    margin-right: 39px;
}
.header .main-content .panel-area .icons-area .icon:hover{
    transition: 0.7s;
    opacity: 0.7;
}
.header .main-content .panel-area .icons-area .icon:last-child{
    margin-right: 0;
}
.header .main-content .panel-area .icons-area .count-info{
    position: absolute;
    top: -13px;
    right: -18px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    font-family: 'Inter Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #72408A;
    border-radius: 50%;
}


.header .menu{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
}
.header .menu li{
    font-family: 'Inter SemiBold';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header .menu li:hover{
    transition: 0.7s;
    color: #72408A;
}
.header .menu li:hover > a{
    transition: 0.7s;
    color: #72408A;
}
.header .menu li.drop-down:after{
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/arrow-down.svg") no-repeat center center;
    background-size: contain;
}
.header .menu li.drop-down{
    padding-right: 25px;
    position: relative;
    cursor: pointer;
}
.header .menu li.drop-down > ul{
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top:100%;
    left: 0;
    padding: 20px 20px 10px;
    z-index: 10;
    width:100%;
    min-width: max-content;
}
.header .menu li.drop-down:hover > ul{
    display: flex;
}
.header .menu li.drop-down > ul li{
    margin-bottom: 10px;
}
.header .menu li.drop-down > ul li a{
    font-family: 'Inter Medium', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.header .menu li.drop-down > ul li:hover > a{
    transition: 0.7s;
    color: #72408A;
}
.header .menu > li > a{
    font-family: 'Inter Medium';
    font-style: normal;
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0 6px;
    background: #FEABD7;
}
.offer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    margin: 0 10px;
}
.offer .img-area{
    width: 59px;
    min-width: 59px;
    height: 59px;
    border-radius: 50%;
    margin-right: 27px;
}
.offer .img-area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.offer .text{
    font-family: 'Inter Medium', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.main-slider{
    /*display: flex;*/
    width: 100%;
    height: 500px;
    position: relative;
}
@media screen and (max-width: 1600px){
    .main-slider{
        height: 400px;
    }
}
.main-slider .slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
    @media screen and (max-width: 1600px){
        .main-slider .slide{
            height: 400px;
        }
    }
.main-slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.slide-img__two {
    display: none !important;
}
@media screen and (max-width: 576px){
    .slide-img__one {
        display: none !important;
    }
    .slide-img__two {
        display: block !important;
    }
}
.main-slider .slide .mask{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.13);
    z-index: 2;
}
.main-slider .slide .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    max-width: 1110px;
    z-index: 3;
}
.main-slider .slide .content .title{
    font-family: 'Inter SemiBold';
    font-size: 74px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
    text-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
}
.main-slider .slide .content .text{
    font-family: 'Inter Medium', sans-serif;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 77px;
    text-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
}
.content-slide a {
    margin: 140px 0px 0px 0px;
}
@media screen and (max-width: 576px){
    .content-slide a {
        margin: 7px 0px 0px 0px;
    }
}
.main-slider .panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 57px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-slider .panel .slick-dots li{
    background: rgba(255, 255, 255, 0.3);
    width: 11px;
    height: 11px;
    margin-right: 10px;
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;
}
.main-slider .panel .slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1);
}

.main-slider .slide .content .button{
    width: 273px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #80233A;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
}
.main-slider .wrapper .slide .content .button {
    background: linear-gradient(90deg, rgba(128,35,58,1) 0%, rgba(90,4,25,1) 100%);
    box-shadow: 12px 12px 24px rgba(128,35,58,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}
.main-slider .wrapper .slide .content .button::before {
    content: '';
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 5px solid rgba(128,35,58,1);
    box-shadow: 0 0 60px rgba(90,4,25,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
.main-slider .wrapper .slide .content .button:hover, .button:focus {
    color: #ffffff;
    /*transform: translateY(-6px);*/
}
.main-slider .wrapper .slide .content .button:hover::before, button:focus::before {
    opacity: 1;
}
.main-slider .wrapper .slide .content .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #72408A;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: ring 1.5s infinite; */
    display: none;
}
.main-slider .wrapper .slide .content .button:hover::after, button:focus::after {
    animation: none;
    display: none;
}
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.advantages{
    background: #FEABD7;
    background: linear-gradient(180deg, #EFCFDA 0%, #ECB0C5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 46px 10px 57px;
}
.advantages .items-area{
    display: flex;
    justify-content: space-between;
    width: 881px;
    margin: 0 15px;
}
.advantages .items-area .item{
    display: flex;
    flex-direction: column;
}
.advantages .items-area .item:first-child{
    max-width: 143px;
}
.advantages .items-area .item:nth-child(2){
    max-width: 205px;
}
.advantages .items-area .item:nth-child(3){
    max-width: 111px;
}
.advantages .items-area .item:nth-child(4){
    max-width: 123px;
}
.advantages .items-area .item .icon{
    width: 62px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 19px;
}
.advantages .items-area .item .text{
    font-family: 'Inter Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #80233A;
}

.best-sellers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1110px;
    margin: 113px auto 0px;
}
.best-sellers > .title{
    font-family: 'Inter';
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 16px;
}
.best-sellers > .sub-title{
    font-family: 'Inter Light', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #828282;
}
.best-sellers > .main-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.best-sellers > .main-area .categories{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 74px;
    gap: 30px;
}
.best-sellers > .main-area .categories .item{
    width: 188px;
    height: 52px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #828282;
    cursor: pointer;
}
.best-sellers > .main-area .categories .item.checked {
    background: #80233A;
    color: #FFFFFF;
    position: relative;
}
.best-sellers > .main-area .categories .item:hover {
    background: #80233A;
    color: #FFFFFF;
}
.best-sellers > .main-area .categories .item.checked:after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 72px;
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 25px solid #80233A; /* Добавляем треугольник */
}
.best-sellers > .main-area .categories .item.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(90, 4, 25, 0);
    outline: 1px solid;
    outline-color: rgba(90, 4, 25, .5);
    outline-offset: 0;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.best-sellers > .main-area .categories .item.btn-5:last-of-type {
    margin-right: 0;
}
.best-sellers > .main-area .categories .item.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(90, 4, 25, .5), 0 0 20px rgba(90, 4, 25, .2);
    outline-color: rgba(90, 4, 25, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px rgba(90, 4, 25, 1);
}
.best-sellers > .main-area .products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.best-sellers > .main-area .products .product {
    display: none;
    flex-direction: column;
    align-items: center;
}
.best-sellers > .main-area .products .product.checked {
    display: flex;
}
.best-sellers > .main-area .products .product .title{
    font-family: 'Inter Bold', sans-serif;
    font-size: 30px;
    line-height: 36px;
    display: none;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 55px;
}
.best-sellers > .main-area .products .product .title .button-more-title{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    line-height: 167%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #80233A;
    text-transform: none;
    cursor: pointer;
}
.best-sellers > .main-area .products .product .items-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 19px;
    justify-content: center;
}
.best-sellers > .main-area .products .item{
    display: flex;
    flex-direction: column;
    width: 255px;
    margin: 0 0 20px 0;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.best-sellers > .main-area .products .item .img-area{
    width: 100%;
    height: 247px;
    overflow: hidden;
}
.best-sellers > .main-area .products .item .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best-sellers > .main-area .products .item:hover .img-area img {
    transition: 0.7s;
    width: 110%;
    height: 110%;
    margin: -5%;
}
.best-sellers > .main-area .products .item .text-area{
    display: flex;
    justify-content: space-between;
    margin: 19px 15px 25px;
}
.best-sellers > .main-area .products .item .text-area .text-column{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.best-sellers > .main-area .products .item .text-area .text-column .name-product{
    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 6px;
    word-break: break-word;
}
.best-sellers > .main-area .products .item .text-area .text-column .price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #828282;
}
.best-sellers > .main-area .products .item .text-area .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    min-width: 45px;
    height: 45px;
    background: #80233A;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.best-sellers > .main-area .products .item .text-area .icon:hover{
    transition: 0.7s;
    background: #F4F2F2;
}
.best-sellers > .main-area .products .item .text-area .icon:hover svg path{
    transition: 0.7s;
    fill: #80233A !important;
}
.best-sellers > .main-area .products .item .text-area .icon svg path:first-child{
    fill: #FFFFFF;
}
.best-sellers > .main-area .products .item .text-area .icon:hover{
    background: #F4F2F2;
}
.best-sellers > .main-area .products .item .text-area .icon:hover svg path:first-child{
    fill: #80233A;
}
.best-sellers > .main-area .button{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid #80233A;*/
    font-family: 'Inter Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #80233A;
    margin-top: 53px;
    cursor: pointer;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.best-sellers > .main-area .button.btn {
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*line-height: 45px;*/
    /*margin: 0 0 2em;*/

}
.best-sellers > .main-area .button.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.best-sellers > .main-area .button.btn-1 rect {
    fill: none;
    stroke: #5A0419;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.best-sellers > .main-area .button.btn-1:hover {
    letter-spacing: 1px;
}

.best-sellers > .main-area .button.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.reviews{
    display: flex;
    flex-direction: column;
    background: #EFCFDA;
}
.reviews > .title{
    margin: 52px auto 16px;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #80233A;

}
.reviews > .sub-title{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #80233A;
    justify-content: center;
}
.reviews > .items{
    /*display: flex;*/
    /*width: 100%;*/
    margin: 58px 0 0;
    /*overflow: hidden;*/
    /*-ms-overflow-style: none;*/
    /*overflow: -moz-scrollbars-none;*/
}
/*.reviews > .items::-webkit-scrollbar { width: 0; }*/

.reviews > .items .wrapper{
    /*display: flex;*/
    /*width: max-content;*/
    /*justify-content: space-between;*/
    /*margin-left: -70px;*/
}
.reviews > .items .wrapper .item{
    width: 34.6vw !important;
    opacity: 0.5!important;
    margin-right: 33px!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
}
.reviews > .items .wrapper .item .body-item{
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    padding: 2.65vw 75px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 271px;
}
.reviews > .items .wrapper .item .body-item:before{
    content: '';
    position: absolute;
    background: url("../img/qw.svg") no-repeat center;
    background-size: contain;
    width: 58px;
    height: 51px;
    top: 26px;
    left: 18px;
}
.reviews > .items .wrapper .item .body-item:after{
    content: '';
    transform: rotate(180deg);
    position: absolute;
    background: url("../img/qw.svg") no-repeat center;
    background-size: contain;
    width: 58px;
    height: 51px;
    bottom: 26px;
    right: 18px;

}
/*.reviews > .items .wrapper .item:last-child{*/
/*    margin-right: 0;*/
/*}*/
.reviews > .items .wrapper .slick-current .item{
    opacity: 1 !important;
}
.reviews > .items .wrapper .slick-current .item .bottom-deco {
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 25px solid #ffffff; /* Добавляем треугольник */
    z-index: 5;
}
.reviews > .items .item .name{
    font-family: 'Inter SemiBold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 11px auto 12px;
}
.reviews > .items .item .text{
    font-family: 'Inter Light', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.reviews > .panel{
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.reviews > .panel .arrow.left{
    width: 28px;
    height: 28px;
    background: url("../img/arrow-slider.svg") no-repeat center;
    background-size: contain;
}
.reviews > .panel .arrow.right{
    width: 28px;
    height: 28px;
    background: url("../img/arrow-slider.svg") no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
}
.reviews > .panel .indicators{
    display: flex;
    margin: 0 16px 0 26px;
}
.reviews > .panel .indicators .slick-dots{
    display: flex !important;
    position: unset;
}
.reviews > .panel .indicators .slick-dots li{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.reviews > .panel .indicators .slick-dots li.slick-active{
    background: #80233A;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 109px auto 90px;
    width: max-content;
}
.about .img-area{
    width: 620px;
    margin-right: 37px;
}
.about .img-area img{
    width: 100%;
    object-fit: contain;
}
.about .text-area{
    display: flex;
    flex-direction: column;
    width: 442px;
}
.about .text-area .title{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 26px;
}
.about .text-area .text{
    font-family: 'Inter Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 5px;
}

.form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../img/form-info.png") no-repeat center;
    background-size: cover;
    padding: 54px 0 71px;
}
.form-info .title{
    margin-bottom: 20px;
    font-family: 'Inter';
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.7);
}
.form-info .text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
    max-width: 431px;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.7);
}
.form-info .form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-info .form-area .get-email{
    width: 473px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Light', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-bottom: 29px;
    border: none;
    outline: none;
}
.form-info .form-area .get-email::placeholder{
    color: #828282 !important;
}
.form-info .form-area .get-email::placeholder{
    color: #828282;
}
.form-info .form-area .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 55px;
    background: #80233A;
    border: 1px solid #80233A;
    /*border: none;*/
    font-family: 'Inter Medium', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
}

.form-info .form-area .button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 600;
    stroke-dashoffset: 150;
    transition: 2s ease-in-out;
    width: 100%;
    height: 100%;
}
.form-info .form-area .button:hover {
    transition: 1s ease-in-out;
    background: rgba(128,35,58,0.75);
    /*color: #80233A;*/
}
.form-info .form-area .button:hover svg {
    stroke-dashoffset: -480;
}



.follow{
    margin: 118px auto;
    display: flex;
    flex-direction: column;
    width: 1110px;
}
.follow .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Medium', sans-serif;
    font-size: 35px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px;
}
.follow .text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #828282;
    margin: 0 auto 24px;
    width: 387px;
}
.follow .follow-url{
    font-family: 'Inter Bold';
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 auto 61px;
    width: max-content;
}
.follow .follow-url .icon{
    width: 27px;
    height: 27px;
    background: url("../img/instagram1.svg") no-repeat center;
    background-size: contain;
    margin-left: 5px;
}
.follow .img-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.follow .img-area .main-img{
    width: 540px;
}
.follow .img-area .main-img img{
    width: 100%;
    object-fit: contain;
}
.follow .img-area .imgs{
    width: 561px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.follow .img-area .imgs .img{
    object-fit: contain;
    margin-bottom: 6px;
}
.follow .img-area .imgs .img:nth-of-type(3){
    margin-bottom: 0;
}
.follow .img-area .imgs .img:nth-of-type(4){
    margin-bottom: 0;
}
.follow .img-area .imgs .img:nth-child(even){
    width: 281px;
}

.footer{
    display: flex;
    background: #F9F9F9;
    width: 100%;
    justify-content: center;
    padding: 60px 15px 30px 15px;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}
.footer .menu-area{
    display: flex;
    flex-direction: column;
    width: 340px;
}
.footer .menu-area .title{
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 23px;
}
.footer .menu-area .menu{
    display: flex;
    flex-direction: column;
}
.footer .menu-area .menu .item{
    margin-bottom: 15px;
}
.footer .menu-area .menu .item a{
    font-family: 'Inter Medium', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: #000000;
}
.footer .menu-area .menu .item:hover a{
    transition: 0.7s;
    color: #80233A;
}
.footer .contact-area{
    width: 280px;
    display: flex;
    flex-direction: column;
}
.footer .contact-area .title{
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 23px;
}
.footer .contact-area .address{
    font-family: 'Inter Medium', sans-serif;
    font-size: 18px;
    line-height: 139%;
    display: flex;
    font-style: normal;
    color: #000000;
    margin-bottom: 20px;
    flex-direction: column;
    flex: 1 0 auto;
}
.footer .contact-area .address .title-adress{
    font-family: 'Inter SemiBold', sans-serif;
    font-size: 18px;
    line-height: 139%;
    display: flex;
    align-items: center;
    color: #000000;
}
.footer .contact-area > .items-area{
    display: flex;
    flex-direction: column;
}
.footer .contact-area > .items-area .item{
    font-family: 'Inter Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    width: max-content;
}
.footer .contact-area > .items-area .item:hover{
    transition: 0.7s;
    color: #80233A;
}
.footer .contact-area > .items-area .item .insta{
    width: 27px;
    min-width: 27px;
    height: 27px;
    margin-right: 10px;
    background: url("../img/footer/instagram.svg") no-repeat center;
    background-size: contain;
}
.footer .contact-area > .items-area .item .email{
    width: 27px;
    height: 27px;
    min-width: 27px;
    margin-right: 10px;
    background: url("../img/footer/email.svg") no-repeat center;
    background-size: contain;
}
.footer .contact-area > .items-area .item .tel{
    width: 27px;
    height: 27px;
    margin-right: 10px;
    background: url("../img/footer/phone.svg") no-repeat center;
    background-size: contain;
}
.footer .contact-area > .copyright{
    font-family: 'Inter Light', sans-serif;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #828282;
}
.footer .pay-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 185px;
    height: 133px;
}
.footer .pay-area img{
    width: 75px;
    object-fit: contain;
}

.mob-area{
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1001;
}
.mob-area.active{
    display: flex;
}
.mob-area .mob-wrapper{
    position: relative;
    z-index: 1001;
    max-width: 375px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 22px 15px 48px 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mob-area .mob-wrapper::-webkit-scrollbar {
    width: 0;
}
.mob-area .mob-wrapper .close-button{
    margin-bottom: 17px;
    cursor: pointer;
    margin-left: auto;
}
.mob-area .mob-wrapper .search-area{
    width: 100%;
    height: 41px;
    min-height: 41px;
    max-width: 345px;
    margin: 0 auto 46px;
    padding: 0 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFEFEF;
}
.mob-area .mob-wrapper .search-area input:first-child{
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
    background: #EFEFEF;
    margin-right: 10px;
}
.mob-area .mob-wrapper .search-area .icon{
   border: none;
    background: transparent;
}
.mob-area .mob-wrapper .mob-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mob-area .mob-wrapper .mob-menu .item{
    display: flex;
    width: 100%;
    max-width: 303px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.mob-area .mob-wrapper .mob-menu .item:hover > a{
    transition: 0.7s;
    opacity: 0.7;
    color: #72408A;
}
.mob-area .mob-wrapper .mob-menu > .item{
    margin-bottom: 29px;
}
.mob-area .mob-wrapper .mob-menu > .item a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}
.mob-area .mob-wrapper .mob-menu .item.has-child a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mob-area .mob-wrapper .mob-menu .item.has-child > a:after{
    content: '';
    min-width: 7px;
    width: 7px;
    height: 15px;
    background: url("../img/icon-arrow.svg") no-repeat center;
    background-size: contain;
}
.mob-area .mob-wrapper .mob-menu .item.active.has-child > a:after{
    transition: 0.7s;
    transform: rotate(180deg);
}

.mob-area .mob-wrapper .mob-menu .item .sub-mob-menu{
    width: 100%;
    margin: 10px 0 0 10px;
    display: none;
    flex-direction: column;
}
.mob-area .mob-wrapper .mob-menu .item .sub-mob-menu.active{
    display: flex;
}
.mob-area .mob-wrapper .mob-menu .item .sub-mob-menu > .item{
    margin-bottom: 5px;
}
.mob-area .mob-wrapper .decor-line{
    width: 100%;
    height: 1px;
    min-height: 1px;
    background: #D8D8D8;
}
.mob-area .mob-wrapper .button-area{
    display: flex;
    flex-direction: column;
    margin: 32px 25px;
}
.mob-area .mob-wrapper .button-area .item{
    margin-bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 0;
    color: #000000;
    display: flex;
    align-items: center;
}
.mob-area .mob-wrapper .button-area .item:hover{
    transition: 0.7s;
    opacity: 0.7;
    color: #72408A;
}
.mob-area .mob-wrapper .button-area .item:hover svg{
    transition: 0.7s;
    opacity: 0.7;
    fill: #72408A;
}
.mob-area .mob-wrapper .button-area .item .icon{
    margin-right: 14.5px;
}

.similar{
    display: flex;
    margin: 70px 0 120px;
    padding: 0 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.similar .wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
}
.similar .wrapper .title{
    font-family: 'Inter SemiBold', sans-serif;
    font-size: 26px;
    line-height: 135%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}
.similar .wrapper .items-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.similar .wrapper .items-area .item{
    display: flex;
    flex-direction: column;
    width: 338px;
}
.similar .wrapper .items-area .item .img-area{
    width: 100%;
    height: 338px;
    margin-bottom: 21px;
}
.similar .wrapper .items-area .item .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.similar .wrapper .items-area .item .name{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}
.similar .wrapper .items-area .item .price-area{
    font-family: 'Inter Medium', sans-serif;
    font-size: 20px;
    line-height: 130%;
    text-transform: capitalize;
    color: #828282;
}

.product{
    display: flex;
    margin: 70px 0 120px;
    padding: 0 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.product .wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
}
.product .wrapper > .slider-description{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 588px;
}
.product .wrapper > .slider-description .services-slider {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.product .wrapper > .slider-description .services-slider .wrapper1{
    display: flex;
    width: 100%;
    height: 524px;
    justify-content: space-between;
    overflow: hidden;
}
.product .wrapper > .slider-description .services-slider .nav-container {
    width: 116px;
}
.product .wrapper > .slider-description .services-slider .nav-container .slider-nav {
    width: 100%;
    height: 100%;
}
.product .wrapper > .slider-description .services-slider .nav-container .slider-nav img{
    width: 100%;
    height: 116px;
    margin-bottom: 14px;
}
.product .wrapper > .slider-description .services-slider .nav-container .slick-current img {
    box-shadow: 0 0 4px 2px rgba(128, 35, 58, 0.8);
}
.product .wrapper > .slider-description .services-slider .main-container {
    width: 452px;
    display: flex;
    flex-direction: column;
}
.product .wrapper > .slider-description .services-slider .main-container .slider-main img{
    width: 100%;
    height: 524px;
    object-fit: cover;
}
.product .wrapper > .slider-description .services-slider .slick-dotted.slick-slider {
    margin-bottom: 0;
}
.product .wrapper > .slider-description .services-slider .panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 22px;
}
.product .wrapper > .slider-description .services-slider .panel .arrow.left{
    width: 20px;
    height: 20px;
    background: url("../img/arrow-slider.svg") no-repeat center;
    background-size: contain;
}
.product .wrapper > .slider-description .services-slider .panel .arrow.right{
    width: 20px;
    height: 20px;
    background: url("../img/arrow-slider.svg") no-repeat center;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
}
.product .wrapper > .slider-description .services-slider .panel .indicators{
    display: flex;
    margin: 0 18px 0 18px;
}
.product .wrapper > .slider-description .services-slider .panel .indicators .slick-dots{
    display: flex !important;
    position: unset;
}
.product .wrapper > .slider-description .services-slider .panel .indicators .slick-dots li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 7px;
    background: rgba(128, 35, 58, 0.2);
    cursor: pointer;
}
.product .wrapper > .slider-description .services-slider .panel .indicators .slick-dots li.slick-active{
    background: #80233A;
}
.product .wrapper > .slider-description .services-slider .slick-dots li button:before {
    display: none;
}


.product .wrapper > .slider-description .description-area{
    margin-top: 61px;
    display: flex;
    flex-direction: column;
}
.product .wrapper > .slider-description .description-area .button-area{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    margin-bottom: 25px;
}
.product .wrapper > .slider-description .description-area .button-area .item{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 162%;
    text-transform: uppercase;
    color: #707070;
    padding-bottom: 13px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.product .wrapper > .slider-description .description-area .button-area .item.current {
    color: #80233A;
    border-bottom: 1px solid #80233A;
}
.product .wrapper > .slider-description .description-area .body-area {
    display: flex;
    flex-direction: column;
}
.product .wrapper > .slider-description .description-area .body-area .item{
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    margin-bottom: 15px;
}
.product .wrapper > .slider-description .description-area .body-area .item.current{
    display: flex;
}

.product .wrapper > .main-text-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 446px;
}
.product .wrapper > .main-text-area > .title{
    font-family: 'Inter Medium', sans-serif;
    font-size: 26px;
    line-height: 135%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
}
.product .wrapper > .main-text-area > .price{
    font-family: 'Inter Medium', sans-serif;
    font-size: 18px;
    line-height: 144%;
    text-transform: capitalize;
    color: #828282;
    margin-bottom: 19px;
}
.product .wrapper > .main-text-area .description{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 19px;
    color: #707070;
    display: inline;
}
.product .wrapper > .main-text-area .description .show-more{
    font-family: 'Inter SemiBold', sans-serif;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    width: max-content;
    display: inline;
}
.product .wrapper > .main-text-area .size-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
}
.product .wrapper > .main-text-area .size-area > .title{
    font-family: 'Inter Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 9px;
}
.product .wrapper > .main-text-area .size-area .items-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product .wrapper > .main-text-area .size-area .items-area .item{
    width: 69px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #707070;
    margin-right: 10px;
    cursor: pointer;
}
.product .wrapper > .main-text-area .size-area .items-area .item.current{
    color: #80233A;
    font-family: 'Inter Bold', sans-serif;
    border: 2px solid #80233A;
}
.product .wrapper > .main-text-area .total-area{
    display: flex;
    flex-direction: column;
}
.product .wrapper > .main-text-area .total-area .total{
    font-family: 'Inter Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 22px;
}
.product .wrapper > .main-text-area .total-area .button-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.product .wrapper > .main-text-area .total-area .button-area .choose{
    display: flex;
    width: 103px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background: #EFEFEF;
}
.product .wrapper > .main-text-area .total-area .button-area .choose .minus{
    font-family: 'DMSans Regular', sans-serif;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    margin-right: 24px;
    margin-left: 16px;
    cursor: pointer;
}
.product .wrapper > .main-text-area .total-area .button-area .choose .plus{
    font-family: 'DMSans Regular', sans-serif;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
    margin-left: 24px;
    margin-right: 16px;
    cursor: pointer;
}
.product .wrapper > .main-text-area .total-area .button-area .choose .number{
    font-family: 'DMSans Regular', sans-serif;
    font-size: 16px;
    line-height: 169%;
    color: #707070;
}
.product .wrapper > .main-text-area .total-area .button-area .button-add{
    width: 328px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #80233A;
    font-family: 'Inter ExtraBold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.product .wrapper > .main-text-area .zipcode{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product .wrapper > .main-text-area .zipcode .title{
    font-family: 'Inter Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 12px;
}
.product .wrapper > .main-text-area .zipcode .zip-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}
.product .wrapper > .main-text-area .zipcode .zip-area .zip-input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 265px;
    height: 43px;
    padding: 0 29px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}
.product .wrapper > .main-text-area .zipcode .zip-area .zip-input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #707070;
}
.product .wrapper > .main-text-area .zipcode .zip-area .zip-button{
    border: none;
    background: #F4F2F2;
    width: 170px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.product .wrapper > .main-text-area .extra-gift{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product .wrapper > .main-text-area .extra-gift .title-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 1px solid #EFCFDA;
}
.product .wrapper > .main-text-area .extra-gift .title-area .title{
    font-family: 'Inter Bold', sans-serif;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.product .wrapper > .main-text-area .extra-gift .title-area .view-all{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}
.product .wrapper > .main-text-area .extra-gift .items-area{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item{
    width: 98px;
    display: none;
    flex-direction: column;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item.show{
    display: flex;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item .img-area{
    width: 100%;
    height: 93px;
    margin-bottom: 8px;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item .name{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}
.product .wrapper > .main-text-area .extra-gift .items-area .item .price{
    font-family: 'Inter Light', sans-serif;
    font-size: 12px;
    line-height: 217%;
    text-transform: capitalize;
    color: #000000;
}
.product .wrapper > .main-text-area .description-mob{
    display: none;
}




